In [1]:
import pandas as pd

In [2]:
data_dir = "./data/clusterdata-2011-2/"
task_events_header = ['timestamp','missing_info', 'job_id','task_index','machine_id','']

In [4]:
df = pd.read_csv(data_dir+"task_events/part-00000-of-00500.csv.gz",header=None)

In [6]:
df[df[2] == 3418309]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,2.0,3418309,0,4.155527e+09,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,NaN,NaN,NaN,NaN
1,0,2.0,3418309,1,3.291507e+08,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,NaN,NaN,NaN,NaN
144339,0,NaN,3418309,0,4.155527e+09,1,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,0.125,0.07446,0.000424,0.0
144340,0,NaN,3418309,1,3.291507e+08,1,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,0.125,0.07446,0.000424,0.0